APP_HOSTNAME=localhost
APP_PORT=3000
APP_CORS_ORIGIN=*

KEYCLOAK_AUTH_SERVER_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_SECRET=

TMS_HOST=
TMS_PORT=4001

WMS_HOST=
WMS_PORT=4005

USER_HOST=
USER_PORT=4002

TYPESENSE_HOST=
TYPESENSE_PROTOCOL=http
TYPESENSE_PORT=8108
TYPESENSE_API_KEY=
TYPESENSE_CONNECTION_TIMEOUT_SECONDS=5

FMS_HOST=
FMS_PORT=4003